<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mythall 3.5</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://firebasestorage.googleapis.com/v0/b/mythall-v7.appspot.com/o/favicon.ico?alt=media&token=7be4603a-486e-4174-82f4-a490dcfd1cd5" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/variables.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/loading-component.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <style>
      .hidden {
        display: none;
      }
      .personnage {
        max-width: 80rem;
        background: #ffffff;
        border-radius: var(--base-radius);
        box-shadow: var(--base-shadow);
        padding: var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
      }
      .personnage__informations {
        margin-top: var(--space-md);
        display: grid;
        gap: var(--space-md);
      }

      @media (min-width: 760px) {
        .personnage__informations {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    </style>
  </head>
  <body>
    <loading-component></loading-component>
    <header-component></header-component>
    <main>
      <personnage-component>
        <div class="personnage">
          <!--Informations-->
          <div>
            <h2>
              <strong>Informations</strong>
            </h2>
            <div class="personnage__informations">
              <div>
                <div>
                  <strong>Joueur: </strong>
                  <span id="displayName"></span>
                  <br />
                </div>

                <div>
                  <strong>Nom du Personnage: </strong>
                  <span id="nom"></span>
                  <br />
                </div>

                <div>
                  <strong>Race: </strong>
                  <span id="race"></span>
                  <br />
                </div>

                <!--Alignement-->
                <div>
                  <strong>Alignement: </strong>
                  <span id="alignement"></span>
                  <br />
                </div>

                <!--Niveaux-->
                <div>
                  <strong>Niveau: </strong><span id="niveaux"></span>
                  <br />
                </div>

                <!--Niveau Effectif-->
                <div>
                  <strong>Niveau Effectif: </strong>
                  <span id="niveauEffectif"></span>
                  <span id="niveauDivin" class="hidden"></span>
                  <span id="niveauProfane" class="hidden"></span>
                  <br />
                </div>
              </div>

              <div>
                <!--Vie(s)-->
                <div>
                  <strong>Vie(s): </strong>
                  <span id="vie"></span>
                  <br />
                </div>

                <!--Divinité-->
                <div [ngIf]="dieu-nom">
                  <strong>Divinité: </strong>
                  <span id="divinite"></span>
                  <br />
                </div>

                <!--Domaines-->
                <div class="hidden">
                  <strong>Domaines: </strong>
                  <span id="domaine"></span>
                  <br />
                </div>

                <!--Ordres-->
                <div class="hidden">
                  <strong>Ordre(s): </strong>
                  <span id="ordre"></span>
                  <br />
                </div>

                <!--Esprit-->
                <div class="hidden">
                  <strong>Esprit Patron: </strong>
                  <span id="esprit"></span>
                  <br />
                </div>

                <!--Niveau Disponible-->
                <div class="hidden">
                  <strong>Niveau Disponible: </strong>
                  <span id="niveauDisponible"></span>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <!--Statistique-->
          <div>
            <div class="col-12">
              <h2>
                <strong>Statistiques</strong>
              </h2>
            </div>
            <div class="col-6">
              <div>
                <!--Constitution-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'OdzM6YHkYw41HXMIcTsw'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Dextérité-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'oFeJq3NgdDDEwi0Y1rdR'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Force-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'gOg0TFSbU8mvlv8baCXE'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Intelligence-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'yKfNuFBQY5UknrTNOxpA'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Sagesse-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'HkaChqWpHOlINdla02ja'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div>
                <!--Point(s) de vie Torse-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'sCcNIQDoWKUIIcSpkB2m'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Point(s) de vie Bras-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'ZSnV9s6cyzYihdFR6wfr'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Point(s) de vie Jambes-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == '69jKTq64XUCk51EmY0Z1'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Point(s) de lutte-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'Rp8BG8OtlNKl8aeuojdi'">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Point(s) de magie-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == '3f75skgSz3CWqdERXcqG' && statistique-valeur > 0">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>

                <!--Point(s) de ki-->
                <div ngFor [ngForOf]="statistiques" let-statistique>
                  <div *ngIf="statistique-statistique-id == 'py44fmGyDCUnkkBZmto9' && statistique-valeur > 0">
                    <strong id="statistique-statistique-nom + ': '"></strong>
                    <span id="statistique-valeur"></span>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Résistances & Immunités-->
          <div>
            <div class="col-6">
              <h2>
                <strong>Résistance(s)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="resistances" let-resistance>
                  <strong id="resistance-resistance-nom + ': '"></strong>
                  <span id="resistance-valeur"></span>
                  <br />
                </div>
                <span *ngIf="!resistances || resistances && resistances.length == 0">Aucune</span>
              </div>
            </div>
            <div class="col-6">
              <h2>
                <strong>Immunité(s)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="immunites" let-immunite>
                  <strong id="immunite-nom"></strong>
                  <br />
                </div>
                <span *ngIf="!immunites || immunites && immunites.length == 0">Aucune</span>
              </div>
            </div>
          </div>

          <!--Capacité(s) Spéciale(s)-->
          <div *ngIf="capaciteSpeciales && capaciteSpeciales.length > 0">
            <div class="col-12">
              <h2>
                <strong>Capacité(s) Spéciale(s)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="capaciteSpeciales" let-statistique>
                  <strong id="statistique-statistique-nom + ': ' "></strong>
                  <span id="statistique-valeur"></span>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <!--Dons(s)-->
          <div *ngIf="dons && dons.length > 0" class="mb-1">
            <div class="col">
              <h2>
                <strong>Dons</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="dons" let-donItem>
                  <div class="mb-2">
                    <div class="col">
                      <h3 class="mb-0">
                        <span class="font-weight-bold" id="donItem-don-nom"></span>
                        <span *ngIf="donItem-don-afficherNiveau" id="'(' + donItem-niveauEffectif + ')'"></span>
                      </h3>

                      <span id="donItem-don-description"></span>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Aptitudes(s)-->
          <div *ngIf="aptitudes && aptitudes.length > 0" class="mb-1">
            <div class="col">
              <h2>
                <strong>Aptitude(s) Spéciale(s)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="aptitudes" let-aptitudeItem>
                  <div class="mb-2">
                    <div class="col">
                      <h3 class="mb-0">
                        <span class="font-weight-bold" id="aptitudeItem-aptitude-nom"></span>
                      </h3>

                      <span id="aptitudeItem-aptitude-description"></span>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Fourberies(s)-->
          <div *ngIf="fourberies && fourberies.length > 0" class="mb-1">
            <div class="col">
              <h2>
                <strong>Fourberies</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="fourberies" let-fourberieItem>
                  <div class="mb-2">
                    <div class="col">
                      <h3 class="mb-0">
                        <span class="font-weight-bold" id="fourberieItem-fourberie-nom"></span>
                      </h3>
                      <span id="fourberieItem-fourberie-description"></span>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Sort(s) Racial-->
          <div *ngIf="race && race-sortsRacial && race-sortsRacial.length > 0" class="mb-1">
            <div class="col">
              <h2>
                <strong>Sort(s) Racial(aux)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="race-sortsRacial" let-sort>
                  <h3 class="font-weight-bold mb-0" id="sort-nom + ' (' + sort-ecole-nom + ')'"></h3>

                  <strong>Portée: </strong>
                  <span id="sort-porte-nom"></span>
                  <br />

                  <strong>Durée: </strong>
                  <span id="sort-duree-nom"></span>
                  <br />

                  <strong>Zone d’effet: </strong>
                  <span id="sort-zone-nom"></span>
                  <br />

                  <strong>Incantation: </strong>
                  <span id="sort-incantation"></span>
                  <br />

                  <strong>Sommaire: </strong>
                  <span id="sort-sommaire"></span>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <!--Sort(s)-->
          <div *ngIf="sorts && sorts.length > 0" class="mb-1">
            <div class="col">
              <h2>
                <strong>Sort(s)</strong>
              </h2>
              <div>
                <div ngFor [ngForOf]="sorts" let-sort>
                  <h3 class="font-weight-bold mb-0" id="sort-sort-nom + ' (' + sort-sort-ecole-nom + ')'"></h3>

                  <strong>Niveau: </strong>
                  <span id="sort-sort-niveau"></span>
                  <br />

                  <strong>Portée: </strong>
                  <span id="sort-sort-porte-nom"></span>
                  <br />

                  <strong>Durée: </strong>
                  <span id="sort-sort-duree-nom"></span>
                  <br />

                  <strong>Zone d’effet: </strong>
                  <span id="sort-sort-zone-nom"></span>
                  <br />

                  <strong>Incantation: </strong>
                  <span id="sort-sort-incantation"></span>
                  <br />

                  <strong>Sommaire: </strong>
                  <span id="sort-sort-sommaire"></span>
                  <br />
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </personnage-component>
    </main>
    <footer-component></footer-component>
  </body>
  <script type="module" src="/assets/js/firebase.js" defer></script>
  <script type="module" src="/assets/components/loading-component.js"></script>
  <script type="module" src="/assets/components/header-component.js" defer></script>
  <script type="module" src="/assets/components/footer-component.js" defer></script>
  <script type="module" src="/compte/personnage/personnage.js" defer></script>
</html>
