.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-lg) var(--page-padding);
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.footer__icon {
  display: flex;
  justify-content: center;
}

@media print {
  .footer__link,
  .footer__socials {
    display: none;
  }
}
