input,
select,
textarea {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--base-radius);
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: var(--base-shadow);
  transition: var(--transition);
}
textarea {
  max-width: 80vw;
  transition: width 0s, height 0s;
}
input:not([disabled]):hover,
input:not([disabled]):focus,
input:not([disabled]):active,
select:not([disabled]):hover,
select:not([disabled]):focus,
select:not([disabled]):active,
textarea:not([disabled]):hover,
textarea:not([disabled]):focus,
textarea:not([disabled]):active {
  box-shadow: var(--active-shadow);
}

/* Require JS Implementation in forms to add a touched class when blur */
input.touched:valid,
select.touched:valid,
textarea.touched:valid {
  border-color: var(--color-success);
}
input.touched:invalid,
select.touched:invalid,
textarea.touched:invalid {
  border-color: var(--color-error);
}

.button__default,
.button__primary,
button[type="submit"] {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--base-radius);
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: var(--base-shadow);
  transition: var(--transition);
}
.button__default:hover,
.button__primary:hover,
button[type="submit"]:hover {
  cursor: pointer;
  box-shadow: var(--active-shadow);
}
.button__default:disabled,
.button__primary:disabled,
button[type="submit"]:disabled {
  cursor: initial;
  box-shadow: var(--base-shadow);
  opacity: 0.7;
}

.button__primary,
button[type="submit"] {
  background: var(--color-primary);
  color: var(--text-white);
}
