loading-component {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
}

.loading__spinner {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: var(--color-secondary);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading__message {
  color: var(--text-white);
  font-weight: 600;
  font-size: var(--font-body-lg);
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
