@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap");

/* Loading Component */
loading-component {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
loading-component .spinner {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: var(--color-secondary);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Theme */
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-body-md);
  font-weight: 500;
}

body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mythall-v7.appspot.com/o/bg.jpg?alt=media&token=b818688d-309b-4e06-a429-cea75f4652ae");
}

main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--page-padding);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: var(--font-headings-xl);
}
h2 {
  font-size: var(--font-headings-md);
}
h3 {
  font-size: var(--font-headings-xs);
}

strong {
  font-weight: 700;
}

small {
  font-size: var(--font-body-xs);
}

a,
.link {
  color: var(--color-primary);
  transition: var(--transition);
  text-decoration: underline;
}
a:hover,
.link:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
